h1 {
    font-family: 'MedievalSharp', cursive;
}

body {
    background: linear-gradient(to bottom, #fff, transparent), url('https://stmed.net/sites/default/files/fantasy-place-wallpapers-28157-3780448.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.crystal-image {
    width: 150px;
    height: 200px;
}

hr {
    border-top: 1px solid black;
}

#instructions-title {
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: underline;
}

#directions-text {
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .2rem;
}

#wins-losses {
    font-size: 1.3rem;
    font-weight: 500;
}

#current-score, #current-score-div {
    color: #EB9FEF;
}