h1 {
    font-family: 'MedievalSharp', cursive;
}

body {
    background: linear-gradient(to bottom, #fff, transparent), url('https://stmed.net/sites/default/files/fantasy-place-wallpapers-28157-3780448.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.crystal-image {
    width: 150px;
    height: 200px;
}

#reset-button {
    position: absolute;
    z-index: 1;
    left: 25%;
    top: 27%;
}

#instructions-title {
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: underline;
}

#instructions-list {
    list-style-type: square;
}


li {
    font-weight: 600;
}
    
#flavor-image {
    /* float: right; */
    /* width: 40%; */
    /* height: 30%; */
    /* position: relative; */
    /* bottom: 53px; */
}